{ % extends 'accounts/base.html' % }

{ % block content % }

<form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {% render_field form.first_name class='form-control' %}
        <label for="floatingInput">First Name</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.email class='form-control' %}
        <label for="floatingPassword">Email address</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.password1 class='form-control' %}
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.password2 class='form-control' %}
        <label for="floatingPassword">Confirm Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    <hr class="my-4">
    <small class="text-muted">Already have an account? <a href="{% url 'login' %}">
            Sign in </a>
        </a></small>
</form>

{ % endblock content % }