{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="card">
    <h5 class="card-header">Add a post</h5>
    <div class="card-body">

        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
            {% csrf_token %}
           <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        {% render_field form.category class="form-control" %}
                        <label for="floatingInput">Category</label>
                    </div>
                </div>

                
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        {% render_field form.title class="form-control" %}
                        <label for="floatingInput">Title</label>
                    </div>
                </div>


            </div>

            <div>
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        {% render_field form.content class="form-control" rows="5" %}
                        <label for="floatingInput">Content</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        {% render_field form.sheduled_date class="form-control" type="date" %}
                        <label for="floatingInput">Schedule Release Date</label>
                    </div>
                </div>

                
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        {% render_field form.is_draft class="form-control" %}
                        <label for="floatingInput">Post Pusblish</label>
                    </div>
                </div>


            </div>

            <div class="col-md-12">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Add Post</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}