{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="card">
    <h5 class="card-header">Add a post</h5>
    <div class="card-body">

        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {% render_field form.title class="form-control" %}
                <label for="floatingInput">title</label>
            </div>

            <div class="form-floating mb-3">
                {% render_field form.content class="form-control" %}
                <label for="floatingPassword">Content</label>
            </div>




        </form>
    </div>
</div>

{% endblock content %}