{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title display-5 fw-bold mb-3">{{ post.title | title }}</h1>
            
            <div class="mb-3 text-muted">
                <a href="#" class="text-decoration-none text-primary">{{ post.category }}</a> &nbsp;|&nbsp; 
                <small>{{ post.date_posted }}</small> &nbsp;|&nbsp; 
                <small>Author: <a href="{% url 'author-posts' post.author.pk %}">{{ post.author.first_name }}</a></small>
            </div>

            <p class="card-text fs-5">{{ post.content }}</p>

            <div class="mt-4 d-flex align-items-center">
                <form action="{% url 'like-post' post.pk %}" method="POST" class="me-3">
                    {% csrf_token %}
                    <button type="submit"
                        class="btn btn-outline-info border-1  d-flex align-items-center justify-content-center"
                        style="min-width: 20px; font-size: 1.4rem;" title="Like">
                        {% if is_liked %}
                            ❤️
                        {% else %}
                            🤍
                        {% endif %}
                     <span class="text-muted" style="font-size: small ;">{{ post_like }} likes</span>

                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
